<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find hector_sensors_description)/urdf/sonar_sensor.urdf.xacro" />
  <xacro:property name="pi" value="3.1415926535897931" />

  <!-- Main quadrotor link -->
  <xacro:macro name="quadrotor_base_macro">
    <link name="base_link">
      <inertial>
        <mass value="1.477" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://hector_quadrotor_description/meshes/quadrotor/quadrotor_base_no_legs.dae"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://hector_quadrotor_description/meshes/quadrotor/quadrotor_base_no_legs.stl"/>
        </geometry>
      </collision>
    </link>
    
    <!-- Contact Sensor Link-->
    <joint name="base_link_box_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="box"/>
    </joint>
    <link name="box">
      <visual name="box_visual">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.01" radius="0.4"/>
        </geometry>
        <material name="ChassisRed">
          <color rgba="0.851 0.0 0.0 0.4"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.01" radius="0.4"/>
        </geometry>
      </collision>
    </link>
    <!-- Contact Sensor -->
    <gazebo reference="box">
      <material value="Gazebo/RedTransparent">
      </material>
      <sensor name="contact_sensor" type="contact">
        <always_on>true</always_on>
        <update_rate>10.0</update_rate>
        <contact>
          <collision>base_link_fixed_joint_lump__box_collision_1</collision>
        </contact>
        <plugin name="box_bumper" filename="libgazebo_ros_bumper.so">
          <bumperTopicName>/gazebo/robot_collisions</bumperTopicName>
          <frameName>box</frameName>
        </plugin>
      </sensor>
    </gazebo>
    
    <!-- Sonar height sensor -->
    <xacro:sonar_sensor name="sonar" parent="base_link" ros_topic="sonar_height" update_rate="10" min_range="0.03" max_range="3.0" field_of_view="${40*pi/180}" ray_count="3">
      <origin xyz="-0.16 0.0 -0.012" rpy="0 ${90*pi/180} 0"/>
    </xacro:sonar_sensor>

  </xacro:macro>
</robot>
